.movie-container {
  /* background-color: orange; */
  width: 340px;
  padding: 10px;
}


.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 18px;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 10px; */
}

.add-movie-form{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  gap:10px;
  padding: 24px;
}
